<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeon.board.mappers.main.MainMapper">

  <select id="noticeList" parameterType="java.util.HashMap" resultType="noticeDto">
    SELECT seq, title, writer, frst_create_time, content
    FROM notice
    ORDER BY seq DESC limit #{start}, #{count};
  </select>

  <select id="selectMainList" resultType="mainDto">
    SELECT * FROM mainview
  </select>

  <select id="selectContents" resultType="mainDto" parameterType="Integer">
    SELECT * FROM mainview WHERE seq=#{value}
  </select>

  <insert id="insertContents" parameterType="mainDto">
    INSERT INTO mainview(
        TITLE, WRITER, CONTENT
    ) VALUES (
        #{title}, #{writer}, #{content}
    )
  </insert>

  <update id="updateContents" parameterType="mainDto" >
    UPDATE mainview SET TITLE=#{title}, WRITER=#{writer}, CONTENT=#{content}
    WHERE seq = #{seq};
  </update>

  <delete id="removeContents" parameterType="Integer">
    DELETE FROM mainview WHERE seq=#{value}
  </delete>

</mapper>
