<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joen.board.mappers.main.MainMapper">

  <select id="noticeList" parameterType="java.util.HashMap" resultType="noticeDto">
    select seq, title, writer, frst_create_time, content
    from notice
    order by seq desc limit #{start}, #{count};
  </select>

  <select id="selectMainList" resultType="mainDto">
    select * from mainview
  </select>

  <select id="selectContents" resultType="mainDto" parameterType="Integer">
    select * from mainview where seq=#{value}
  </select>

  <insert id="insertContents" parameterType="mainDto">
    insert into mainview(
        TITLE, WRITER, CONTENT
    ) VALUES (
        #{title}, #{writer}, #{content}
    )
  </insert>

  <update id="updateContents" parameterType="mainDto" >
    update mainview set TITLE=#{title}, WRITER=#{writer}, CONTENT=#{content}
    where seq = #{seq};
  </update>

  <delete id="removeContents" parameterType="Integer">
    delete from mainview where seq=#{value}
  </delete>

</mapper>
