<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joen.board.mappers.users.UsersMapper">

  <select id="selectUserList" resultType="com.jeon.board.global.users.dto.UsersDTO">
    select * from users
  </select>
</mapper>
